@use "../abstracts" as *;
@use "../base" as *;

.process-section {
  padding: 5rem 0;

  &__headline {
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 1.07;
    letter-spacing: -0.01em;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 10rem;
  }

  &__steps-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 6rem 0;
    position: relative;
  }

  &__vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background-color: $color-grey;
    transform: translateX(-50%);
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: $color-grey;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: $color-grey;
      transform: translateX(-50%);
    }
  }

  &__step {
    position: relative;
    height: fit-content;
    width: fit-content;
  }

  &__content {
    position: absolute;
    width: 42rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-100%);
    padding-bottom: 1rem;

    &--right {
      left: calc(50% + 3rem);
    }

    &--left {
      right: calc(50% + 3rem);
    }
  }

  &__subtitle {
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05em;
  }

  &__description {
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: lowercase;
  }

  &__visual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $color-black;
    z-index: 1;

    // Horizontal line
    &::before {
      content: "";
      position: absolute;
      width: 33rem;
      height: 3px;
      background-color: $color-grey;
      top: 50%;
      transform: translateY(-50%);
    }

    // Horizontal line circle
    &::after {
      content: "";
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: $color-grey;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  &__step:nth-child(2n + 2) &__visual {
    &::before {
      right: 100%;
      margin-right: 1.5rem;
    }
    &::after {
      right: calc(100% + 1.5rem + 33rem);
    }
  }

  &__step:nth-child(2n + 3) &__visual {
    &::before {
      left: 100%;
      margin-left: 1.5rem;
    }
    &::after {
      left: calc(100% + 1.5rem + 33rem);
    }
  }

  &__circle {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    z-index: 1;
    border: 3px solid $color-grey;
    position: absolute;

    &--right-half {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }

    &--left-half {
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    }
  }

  &__circle-bg {
    position: absolute;
    border-radius: 50%;
    width: calc(7rem - 6px);
    height: calc(7rem - 6px);
    background-color: $color-white;
  }

  &__icon {
    width: 4rem;
    height: 4.8rem;
    z-index: 1;
  }
}
