*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

ol,
ul,
menu {
  list-style: none;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

// Define what 1rem is, calculate later based on this
// 16px = 16 / 10 = 1.6rem etc.
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
